<template>
  <div>
    <v-btn
        color="purple"
        dark
        small
        @click="exportConfig()"
    >
        <v-icon>file_upload</v-icon> export
    </v-btn>
    <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
      <v-card>
        <v-toolbar dark color="primary">
          <v-btn icon dark @click="dialog = false">
            <v-icon>close</v-icon>
          </v-btn>
          <v-toolbar-title>My Config file</v-toolbar-title>
          <v-spacer></v-spacer>
        </v-toolbar>
        <v-spacer></v-spacer>
        <v-textarea
          readonly
          @click="selectAll()"
          ref="textareaConf"
          rows="25"
          solo
          :value="config"
        ></v-textarea>
      </v-card>
      <v-snackbar
        v-model="snackbar"
        color="success"
        :timeout="3000"
        top
      >
        Configuration copied to clipboard
        <v-btn
          dark
          text
          @click="snackbar = false"
        >
          Close
        </v-btn>
      </v-snackbar>
    </v-dialog>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'ExportConfigFile',
  data () {
    return {
      dialog: false,
      snackbar: false,
      config: ''
    }
  },
  methods: {
    exportConfig: function () {
      this.$store.dispatch('triggerLoading')
      const vm = this
      var protocol = location.protocol
      var slashes = protocol.concat("//")
      var host = slashes.concat(window.location.hostname)
      axios.post(host + ':8080/createconf',
      this.$store.state.confs,
      {
        headers: {
          'Content-Type': 'application/json'
        },
        json: true
      })
      .then(function (response) {
        vm.dialog = true
        vm.config = response.data
        vm.$store.dispatch('triggerLoading')
      })
      .catch(function (response) {
        console.log(response)
        alert('Something went wrong on fetching data')
        vm.$store.dispatch('triggerLoading')
      })   
    },
    selectAll() {
      this.$refs.textareaConf.$refs.input.select()
      document.execCommand('copy')
      this.snackbar = true
    }
  }
}
</script>

<style>

</style>