<template>
    <div>
        <v-btn 
            small
            color="amber"
            @click="$refs.inputUpload.click()"
        > 
        <v-icon>file_download</v-icon> import
        </v-btn>
        <input v-show="false" ref="inputUpload" type="file" name="fileConf" @change="$_onFileChange" >
    </div>
</template>

<script>
// import axios from 'axios'

export default {
  name: 'ImportConfigFile',
  methods: {
    $_onFileChange: function (e) {
        var files = e.target.files || e.dataTransfer.files
        if (!files.length && files.length > 1)
            return
        console.log(files)
        this.$store.dispatch('fetchConf', files[0])
    }
  }
}
</script>

<style scoped>

</style>