<template>
  <div>
    <h1 title>List of customers</h1>
    <v-container grid-list-md fluid>
      <proxy-item 
        class="mb-8"
        v-for="(oneItem, index) in listConfs"
        :key="index"
        :customer="oneItem"/>

      <v-alert 
        v-show="listConfs.length === 0" 
        icon="sentiment_very_dissatisfied"
        prominent
        type="warning">
        There is no data to display. Please add a new customer or import an existing config file.
      </v-alert>
    </v-container>
  </div>
</template>

<script>
import ProxyItem from './ProxyItem.vue'
import { mapGetters } from 'vuex'

export default {
  name: 'ListCustomersProxy',
  computed: {
    ...mapGetters({
      listConfs: 'filteredConfs',
    })
  },
  mounted: function (){
    // this.$store.dispatch('fetchConf')
  },
  components: {
    ProxyItem
  },
  methods: {
  }
}
</script>

<style scoped>

</style>
