<template>
    <div
        v-show="$store.state.loading"
    >
        <div class="fullscreen-container"></div>
        <v-dialog
        v-model="$store.state.loading"
        hide-overlay
        persistent
        
        width="300"
        >
        <v-card
            color="primary"
            dark
        >
            <v-card-text>
            Please stand by
            <v-progress-linear
                indeterminate
                color="white"
                class="mb-0"
            ></v-progress-linear>
            </v-card-text>
        </v-card>
        </v-dialog>
    </div>
</template>

<style scoped>
.fullscreen-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(90, 90, 90, 0.50);
  z-index: 9999;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}
</style>