<template>
    <v-card
        class="mx-auto"
        elevation="15"
        v-show="customer.isVisible"
    >
        <v-card-title>{{ customer.customerName }}</v-card-title>
        <v-card-text>
            <v-form
              ref="form"
              v-model="valid"
              lazy-validation
            >
              <v-text-field
                  :disabled="!isEditing"
                  v-model="customer.customerName"
                  :rules="nameRules"
                  label="Customer name"
              ></v-text-field>
              <v-text-field
                  :disabled="!isEditing"
                  v-model="customer.serverName"
                  :rules="serverRules"
                  label="Server name"
              ></v-text-field>
              <v-slider
                min="20"
                step="5"
                :readonly="!isEditing"
                :disabled="!isEditing"
                v-model="customer.sslTimeOut"
                thumb-label
                max="120"
                label="SSL Session Timeout (minutes)"
              >
              <template v-slot:append>
                <v-text-field
                  v-model="customer.sslTimeOut"
                  class="mt-0 pt-0"
                  hide-details
                  :readonly="!isEditing"
                  :disabled="!isEditing"
                  single-line
                  type="number"
                  step="5"
                  style="width: 60px"
                ></v-text-field>
            </template></v-slider>

              <h2 subtitle-1>
                Applications
                <v-btn
                  color="green"
                  dark
                  v-show="isEditing"
                  small
                  @click="addLocation()"
                >
                  <v-icon>add</v-icon>
                </v-btn>
              </h2>
              <v-row v-for="(location, index) in customer.locations" :key="index">
                <v-col
                  cols="12"
                  md="4"
                >
                <v-text-field
                    :disabled="!isEditing"
                    v-model="location.value"
                    :rules="urlRules"
                    label="Url"
                ></v-text-field>
                </v-col>
                <v-col
                  cols="12"
                  md="6"
                >
                <v-text-field
                    :disabled="!isEditing"
                    v-model="location.proxy_pass"
                    :rules="proxyRules"
                    label="Real server"
                ></v-text-field>
                </v-col>
                <v-col
                  cols="12"
                  md="1"
                >
                <v-btn v-show="isEditing" dark color="red" @click="deleteLocation(index)">
                  <v-icon>delete</v-icon>
                </v-btn>
                </v-col>
                <v-alert
                  dense
                  colored-border
                  border="left"
                  type="info"
                >
                  URL to share: <a :href="displayUrlToShare(location.value)">{{ displayUrlToShare(location.value) }}</a>
                </v-alert>
              </v-row>
            </v-form>

        </v-card-text>
        <v-card-actions>
            <v-btn dark v-if="isEditing" color="green" @click="acceptEdit()">
                <v-icon>check</v-icon>
            </v-btn>
            <v-btn dark v-else color="orange" @click="editMe()">
                <v-icon>edit</v-icon>
            </v-btn>
            <v-btn v-if="isEditing" dark color="red" @click="cancelEdit()">
                <v-icon>cancel</v-icon>                
            </v-btn>
            <v-btn v-else dark color="red" @click="dialog = true">
                <v-icon>delete</v-icon>                
            </v-btn>
             <v-dialog
                v-model="dialog"
                max-width="50%"
              >
                <v-card>
                  <v-card-title class="headline">Are you sure ?</v-card-title>
                  <v-card-text>
                    Do you really want to delete this record ? This process cannot be undone.
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                      color="red darken-1"
                      text
                      @click="dialog = false"
                    >
                      No
                    </v-btn>

                    <v-btn
                      color="green darken-1"
                      text
                      @click="dialog = false & deleteMe()"
                    >
                      Yes
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
        </v-card-actions>
    </v-card>
        
</template>

<script>
export default {
  name: 'ProxyItem',
  data: function () {
    return {
      editState: false,
      dialog: false,
      valid: true,
      nameRules: [
        v => !!v || 'This field is required',
        v => (v && v.length >= 3) || 'This field must be more than 3 characters',
        v => (v && v.length < 64) || 'This field must be less than 64 characters',
      ],
      serverRules: [
        v => !!v || 'This field is required',
        v => /[0-9]{8}\.flexmaint\.com$/.test(v) || 'This field must be 8 digits followed by ".flexmaint.com"',
      ],
      urlRules: [
        v => !!v || 'This field is required',
        v => /^\/.+/.test(v) || 'Url must begin with a "/" such as "/example"',
      ],
      proxyRules: [
        v => !!v || 'This field is required',
        v => /^http:\/\/(.+):[0-9]{4,5}$/.test(v) || 'This field must be a HTTP Url with port specified',
      ],
      savedObject: {}
    }
  },
  props: {
    customer: Object
  },
  mounted: function () {
    if (this.customer.customerName == '') {
      this.editMe()
      var container = document.getElementById("app")
      window.scrollTo(container.scrollWidth, container.scrollHeight+2000)
    }
  },
  methods: {
    deleteMe: function () {
        this.$store.dispatch('deleteOneCustomer', this.customer)
    },
    editMe: function () {
      this.savedObject = JSON.parse(JSON.stringify(this.customer))
      this.editState = !this.editState
    },
    cancelEdit: function () {
      this.$refs.form.resetValidation()
      this.customer = JSON.parse(JSON.stringify(this.savedObject))
      this.editState = !this.editState
    },
    acceptEdit: function () {
      if (this.$refs.form.validate()) {
        this.savedObject = {}
        this.editState = !this.editState
        this.$store.dispatch('updateOneCustomer', this.customer)
      }
    },
    deleteLocation: function (index) {
      this.customer.locations.splice(index, 1);
    },
    addLocation: function () {
      this.customer.locations.push({
        url:'',
        proxyPass:'',
      })
    },
    displayUrlToShare: function (url) {
      return 'https://' + this.customer.serverName + url
    }
  },
  computed: {
    isEditing: function () {
      return this.editState
    }
  }
}
</script>

<style scoped>

</style>