<template>
  <div id="app" class="blur-filter">
    <v-app>
      <v-app-bar
        app
        color="indigo"
        dark
      >
        <v-toolbar-title>Xetec Proxy Config Generator</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-spacer></v-spacer>
          <v-spacer></v-spacer>
          <v-spacer></v-spacer>
          <v-spacer></v-spacer>

          <v-text-field
            hide-details
            prepend-icon="search"
            clearable
            clear-icon="clear"
            single-line
            v-model="searchField"
            @keyup="searchCustomer()"
            @click:clear="searchCustomer()"
          ></v-text-field>
      </v-app-bar>
      <v-content>
        <v-container
          fluid
          fill-height
        >
          <v-layout
            align-center
            justify-center
          >
            <v-flex
              xs12
              sm8
              md8
            >
              <list-customers-proxy/>
            </v-flex>
          </v-layout>
        </v-container>
        <loader></loader>
      </v-content>
      <v-footer
        color="indigo"
        app
      >
        <v-btn
          color="green"
          dark
          small
          @click="addCustomer()"
        >
          <v-icon>add</v-icon> add a new customer
        </v-btn>
        <v-spacer></v-spacer>
        <import-config-file/>
        <export-config-file/>
      </v-footer>
    </v-app>

  </div>
</template>

<script>
import ListCustomersProxy from './components/ListCustomersProxy';
import ExportConfigFile from './components/ExportConfigFile';
import ImportConfigFile from './components/ImportConfigFile';
import Loader from './components/Loader';

export default {
  name: 'app',
  data: function () {
    return {
      searchField: '',
      timeout: null
    }
  },
  components: {
    Loader,
    ListCustomersProxy,
    ExportConfigFile,
    ImportConfigFile
  },
  methods: {
    searchCustomer: function () {
      clearTimeout(this.timeout);
      var store = this.$store
      var vm = this

      this.timeout = setTimeout(function () {
        var searchFieldScope = vm.searchField
        store.dispatch('searchCustomers', searchFieldScope)
      }, 250);
    },
    addCustomer: function () {
      this.$store.dispatch('addOneCustomer')
      // this.listItem.push(
      //    {
      //     customer: '',
      //     locations: [
      //       {
      //         value: "",
      //         proxy_pass: ""
      //       }
      //     ]
      //   }
      // )
    },
  }
}
</script>

